.row {
    margin: auto !important;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
}
.row .card {
    margin: 1rem;
}
.card {
    column-gap: 1rem;
    padding: 1rem;
    border: 2px solid grey;
    border-radius: 1rem;
}
.cardStyle h2 {
    font-size: 20px;
}
.cardItem {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.cardStyle .card-img-top {
    width: 15rem;
    height: 10rem;
    margin: auto;
}
.cardStyle .nav-link{
    text-align: center !important;

}
.cardStyle .nav-link button{
    background-color: lightgray;
    color: black;
}